Repository thef4tdaddy/chastityOS, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, bug, chore, docs, refactor, testing, workflows

.github/labeler.yml:

# Label based on changed files
feature:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/**"
          - "src/pages/**"
          - "src/hooks/**"

bug:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.test.*"
          - "**/*.spec.*"

chore:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
          - "scripts/**"
          - "configs/**"
          - "package.json"
          - ".husky/**"

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "**.md"
          - "README.md"

refactor:
  - changed-files:
      - any-glob-to-any-file:
          - "src/services/**"
          - "src/utils/**"

testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.test.*"
          - "**/*.spec.*"
          - "e2e/**"
          - "tests/**"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"

feat: add automatic issue labeling workflow
  .github/workflows/issue-labeler.yml
Labels: chore, workflows

feat: add automatic issue labeling workflow
  .github/workflows/issue-labeler.yml
Labels: chore, workflows

feat: enhance issue labeler to suggest missing labels
  .github/workflows/issue-labeler.yml
Labels: chore, workflows

feat: enhance issue labeler to suggest missing labels
  .github/workflows/issue-labeler.yml
Labels: chore, workflows

feat: enhance PR labeler to suggest missing labels
  .github/workflows/pr-labeler.yml
Labels: chore, workflows

feat: enhance PR labeler to suggest missing labels
  .github/workflows/pr-labeler.yml
Labels: chore, workflows

fix: resolve TypeScript errors in tests and pin validation
  src/components/achievements/AchievementDashboard.test.tsx
  src/components/achievements/AchievementNotification.test.tsx
  src/components/achievements/__tests__/AchievementResponsive.test.tsx
  src/components/tracker/EmergencyUnlockModal/index.tsx
  src/components/tracker/EmergencyUnlockModal/usePinValidation.ts
  src/demo/components/SessionPersistenceDemo.tsx
  src/services/__tests__/AchievementEngine.test.ts
  src/utils/animations.ts
Labels: feature, bug, refactor, testing

fix: resolve TypeScript errors in tests and pin validation
  src/components/achievements/AchievementDashboard.test.tsx
  src/components/achievements/AchievementNotification.test.tsx
  src/components/achievements/__tests__/AchievementResponsive.test.tsx
  src/components/tracker/EmergencyUnlockModal/index.tsx
  src/components/tracker/EmergencyUnlockModal/usePinValidation.ts
  src/demo/components/SessionPersistenceDemo.tsx
  src/services/__tests__/AchievementEngine.test.ts
  src/utils/animations.ts
Labels: feature, bug, refactor, testing

fix: resolve all TypeScript errors and ESLint warnings
  src/components/tracker/EmergencyUnlockModal/usePinValidation.ts
  src/services/__tests__/AchievementEngine.test.ts
  src/services/database/achievements/__tests__/AchievementProgressService.test.ts
Labels: feature, bug, refactor, testing

fix: resolve all TypeScript errors and ESLint warnings
  src/components/tracker/EmergencyUnlockModal/usePinValidation.ts
  src/services/__tests__/AchievementEngine.test.ts
  src/services/database/achievements/__tests__/AchievementProgressService.test.ts
Labels: feature, bug, refactor, testing

feat: add automatic issue labeling workflow
  .github/workflows/issue-labeler.yml
Labels: chore, workflows

feat: enhance issue labeler to suggest missing labels
  .github/workflows/issue-labeler.yml
Labels: chore, workflows

feat: enhance PR labeler to suggest missing labels
  .github/workflows/pr-labeler.yml
  index.html
  public/demo/index.html
Labels: chore, workflows

fix: update error logging and improve handling of undefined achievements in tests
  src/__tests__/integration/achievementSync.integration.test.ts
  src/__tests__/integration/achievementWorkflows.integration.test.ts
  src/components/achievements/AchievementErrorBoundary.tsx
Labels: feature, bug, testing

fix: update error logging and improve handling of undefined achievements in tests
  src/__tests__/integration/achievementSync.integration.test.ts
  src/__tests__/integration/achievementWorkflows.integration.test.ts
  src/components/achievements/AchievementErrorBoundary.tsx
Labels: feature, bug, testing

Potential fix for code scanning alert no. 69696: Unused variable, import, function or class
  src/components/achievements/__tests__/AchievementAccessibility.test.tsx
Labels: feature, bug, testing

Potential fix for code scanning alert no. 69696: Unused variable, import, function or class
  src/components/achievements/__tests__/AchievementAccessibility.test.tsx
Labels: feature, bug, testing

fix: resolve all ESLint and TypeScript errors in PR #697
  src/components/achievements/__tests__/AchievementAccessibility.test.tsx
  src/hooks/usePaginatedAchievements.ts
  src/index.css
Labels: feature, bug, testing

fix: resolve lint errors in AchievementEngine
  src/services/AchievementEngine.ts
Labels: refactor

fix: remove unused import from useAchievements hook
  src/hooks/useAchievementNotifications.ts
  src/hooks/useAchievements.ts
  src/hooks/useAchievementsActions.ts
  src/hooks/useAchievementsHelpers.ts
  src/hooks/useAchievementsQueries.ts
Labels: feature

fix: resolve Firebase invalid-argument errors by properly serializing data
  src/hooks/api/useReportData.ts
  src/services/sync/ConflictResolver.ts
  src/services/sync/EventDataSync.ts
  src/services/sync/FirebaseSyncCore.ts
  src/services/sync/SessionDataSync.ts
  src/services/sync/TaskDataSync.ts
  src/services/sync/UserSettingsSync.ts
Labels: feature, refactor

fix: add CSP headers to allow Google APIs and Firebase resources
  configs/build/vite.config.js
Labels: chore

fix: improve settings page layout and text visibility
  src/pages/SettingsPage.tsx
Labels: feature

fix: upgrade react from 19.1.1 to 19.2.3
  package-lock.json
  package.json
Labels: chore

fix: upgrade react-dom from 19.1.1 to 19.2.3
  package-lock.json
  package.json
Labels: chore

fix: upgrade firebase from 12.3.0 to 12.7.0
  package-lock.json
  package.json
Labels: chore

fix: upgrade @sentry/react from 10.15.0 to 10.31.0
  package-lock.json
  package.json
Labels: chore

fix: upgrade @sentry/react from 10.15.0 to 10.32.1
  package-lock.json
  package.json
Labels: chore

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Labels: chore
